body {
	width: 600px;
	margin: 0 auto;
	font-family: 'Montserrat', sans-serif;
}

button {
    background-color: #D44474;
    border: none;
    padding: 10px;
    margin: 9px;
    width: 50px;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    cursor: pointer;
}